extends /modules/pug/blocks/ejercicios
block pug_javascript
    -
        nej = 1
        let titulo = "Ejemplo 1",
            formato = ""
        let codepen_list = [
            "vYEPxPX",
            "BaybRKr",
        ]
        let _ej = "01"
block pug_styles
    +new_style(`../styles.css`)
block html_javascript
    +new_script(`../scripts.js`)
block pug_contenido
    //- :markdown-it(html) 
    //-     ![a](../../static/draw1.png)
    //-     ![b](../../static/draw1.png)
    :markdown-it(html)

        ![Ejemplo](../../static/draw2.png)
        ![Ejemplo](../../static/draw1.svg)
        ![Ejemplo](../../static/draw2.svg)
        ## Draw3
        ![Ejemplo](../../static/draw3.svg)
        ![Ejemplo](../../static/draw3.png)
        ![Ejemplo](../../static/draw4.png)
        ![Ejemplo](../../static/draw4.svg)

    +code_html(_ej, "HTML", "CSS", "JS")
    .tabcontent(id=`HTML-${_ej}`): :markdown-it(html)
            ```html
            <p>Hello world - 3</p>
            ```
    .tabcontent(id=`CSS-${_ej}`): :markdown-it(html)
            ```css
            p {
                color: green;
            }
            ```
    .tabcontent(id=`JS-${_ej}`): :markdown-it(html)
            ```javascript
            const d = p.querySelector("d");
            d.style.fontSize = "2em";
            ```
    hr
    hr
    - _ej = "02"
    +code_html(_ej, "HTML", "CSS", "JS")
    .tabcontent(id=`HTML-${_ej}`): :markdown-it(html)
            ```html
            <p>Hello world - 3</p>
            ```
    .tabcontent(id=`CSS-${_ej}`): :markdown-it(html)
            ```css
            p {
                color: green;
            }
            ```
    .tabcontent(id=`JS-${_ej}`): :markdown-it(html)
            ```javascript
            const d = p.querySelector("d");
            d.style.fontSize = "2em";
            ```
    hr
    hr
    +codepen(1)
    +codepen_url("jONXGLy",2,height_window=600)
    +codepen_flex("jONXGLy",2,height_window=600)
    +codepen_flex_live("BaybRKr",2,height_window=600)
    +html_emb_ej("ej-01")
    .tab-content
        +tab_info(0, "HTML", "CSS", "JS")
        .tabcontent#HTML-0
            :markdown-it(html)
                ```html
                <p>Hello world</p>
                ```
        .tabcontent#CSS-0
            :markdown-it(html)
                ```css
                p {
                    color: red;
                }
                ```
        .tabcontent#JS-0
            :markdown-it(html)
                ```javascript
                const p = p.querySelector("p");
                p.style.fontSize = "2em";
                ```
    .diagram-ascii: pre.
                           ┌─────────────┐                    
                           │ Block - >2  │                    
                           └──────┳──────┘                    
                                  ┃                           
                                  ┃                           
               ┏━━━━━━━━━━━━━━━━━━╋━━━━━Label━━━━━━━━━┓       
               ┃                  ┃                   ┃       
               ┃                  ┃                   ┃       
               ┃                  ┃                   ┃       
               ▼                  ▼                   ▼       
        ┌─TEC-1───────┐    ┌─TEC-2───────┐     ┌─TEC-3───────┐
        │  Alexander  │    │  Alexander  │     │  Alexander  │
        │ Vazquez Zal │    │ Vazquez Zal │     │ Vazquez Zal │
        └─────────────┘    └─────────────┘     └─────────────┘

//-
    p=String.raw`$$ x^5 $$`
    each url in codepen_list
        +codepen_url(url,`${codepen_list.indexOf(url)+1}`,height_window=600)

